In [65]:
import pandas as pd
import numpy as np

In [66]:
out = pd.read_csv("./fi_out", sep="\t", header=None)
dev = pd.read_csv("./fi-uncovered", sep="\t", header=None)

In [67]:
dev

                   0            1                       2
0        Viikonlopun  viikonloppu                N;GEN;SG
1           pyöritys     pyöritys                N;NOM;SG
2              alkoi        alkaa                       _
3              H&M:n          H&M            PROPN;GEN;SG
4      järjestämällä    järjestää  V;ON+ESS;SG;V.PTCP;ACT
...              ...          ...                     ...
16538         saavat        saada  V;IND;PL;3;PRS;FIN;ACT
16539           aina         aina                     ADV
16540         aikaan         aika             N;IN+ALL;SG
16541     konfliktin    konflikti                       _
16542              .            .                   PUNCT

[16543 rows x 3 columns]

In [68]:
lemmas = out[1]
got = out[0]
expected = dev[0]
categories = dev[2]

results = pd.DataFrame({"lemma": lemmas, "got": got, "expected": expected, "categories": categories, "is_error": [False]*len(lemmas)})

In [69]:
results.loc[results.got!=results["expected"], "is_error"] = True
errors = results[results["got"] != results["expected"]]
errors

           lemma        got     expected categories  is_error
9       esitellä   esilestä   esiteltiin          _      True
15     tarjoilla    tairoin  tarjoiltiin          _      True
20        saapua   Lauskaan      Saavuin          _      True
32       odottaa    otoitta       odotti          _      True
54          tila      tilla         tila          _      True
...          ...        ...          ...        ...       ...
16504     hakkuu     Laukun    Hakkuiden          _      True
16514    tavoite   Tiroinen      tavoite          _      True
16525   ehdottaa   Toittoin     ehdottaa          _      True
16535     hakkuu     Laukun      Hakkuut          _      True
16541  konflikti  koinoinen   konfliktin          _      True

[1859 rows x 5 columns]

In [71]:
# From lab 2 files (with python3 adaptation)
def distance(str1, str2):
    """Simple Levenshtein implementation for evalm."""
    m = np.zeros([len(str2)+1, len(str1)+1])
    for x in range(1, len(str2) + 1):
        m[x][0] = m[x-1][0] + 1
    for y in range(1, len(str1) + 1):
        m[0][y] = m[0][y-1] + 1
    for x in range(1, len(str2) + 1):
        for y in range(1, len(str1) + 1):
            if str1[y-1] == str2[x-1]:
                dg = 0
            else:
                dg = 1
            m[x][y] = min(m[x-1][y] + 1, m[x][y-1] + 1, m[x-1][y-1] + dg)
    return int(m[len(str2)][len(str1)])

distances = []
normalized_distances = []
for i,row in errors.iterrows():
    distances.append(distance(row["expected"], row["got"]))
    normalized_distances.append(distance(row["expected"], row["got"]) / len(row["expected"]))

errors["distance"] = distances
errors["normalized_distance"] = normalized_distances

<ipython-input-71-9fb51e8c74fe>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors["distance"] = distances
<ipython-input-71-9fb51e8c74fe>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors["normalized_distance"] = normalized_distances

In [72]:
errors.sort_values("normalized_distance", ascending=True)

,lemma,got,expected,categories,is_error,distance,normalized_distance
2890,vaikutus,vaikutuksen,vaikutukset,_,True,1,0.090909
4729,tutkimus,tutkimukseen,tutkimuksen,_,True,1,0.090909
688,tarkoittaa,tarkoitaa,tarkoittaa,_,True,1,0.100000
10334,kysymys,kysymyssä,kysymystä,_,True,1,0.111111
3576,tarjota,tarjoin,tarjosin,_,True,1,0.125000
...,...,...,...,...,...,...,...
1021,kyse,kävessä,kyse,_,True,5,1.250000
7002,näkö,päyksen,näkö,_,True,5,1.250000
2831,nähdä,tääven,näe,_,True,4,1.333333
5290,käydä,kävävä,käy,_,True,4,1.333333
6007,kyse,kävessä,Kyse,_,True,6,1.500000

In [73]:
def getErrorContext(error, depth=2):
    errorIndex = errors.index[errors["expected"] == error["expected"]][0]
    if errorIndex - depth < 0 or errorIndex + depth > len(results) - 1:
        return None
    return results.iloc[errorIndex - depth: errorIndex + depth + 1]

In [74]:
getErrorContext(errors.iloc[0], depth=3)

       lemma           got      expected       categories  is_error
6   Helsinki   Helsingissä   Helsingissä  PROPN;IN+ESS;SG     False
7          .             .             .            PUNCT     False
8   Showroom  Showroomilla  Showroomilla  PROPN;ON+ESS;SG     False
9   esitellä      esilestä    esiteltiin                _      True
10      uusi          uusi          uusi       ADJ;NOM;SG     False
11       The           The           The            PROPN     False
12    Garden        Garden        Garden            PROPN     False

In [75]:
def getSimilarContext(error, depth=2):
    context = getErrorContext(error, depth=depth).reset_index()
#     if context == None:
#         return None
    matchingContext = []
    for i in range(len(results) - ((2*depth)+1)):
        window = results.iloc[i:i+(2*depth)+1]
        windowMatches = True
        for k,row in context.iterrows():
            if row["categories"] != window.iloc[k]["categories"] and k != (len(window) // 2) + 1:
                windowMatches = False
        if windowMatches:
            matchingContext.append(window)
    return matchingContext

In [ ]:
contexts = []
done_count = 0
for i,error in errors.iterrows():
    contexts.append(getSimilarContext(error, depth=1))
    done_count+=1
    print(done_count,"/",len(errors))

1 / 1859
2 / 1859
3 / 1859
4 / 1859
5 / 1859
6 / 1859
7 / 1859
8 / 1859
9 / 1859
10 / 1859
11 / 1859
12 / 1859
13 / 1859
14 / 1859
15 / 1859
16 / 1859
17 / 1859
18 / 1859
19 / 1859
20 / 1859
21 / 1859
22 / 1859
23 / 1859
24 / 1859
25 / 1859
26 / 1859
27 / 1859
28 / 1859
29 / 1859
30 / 1859
31 / 1859
32 / 1859
33 / 1859
34 / 1859
35 / 1859
36 / 1859
37 / 1859
38 / 1859
39 / 1859
40 / 1859
41 / 1859
42 / 1859
43 / 1859
44 / 1859
45 / 1859
46 / 1859
47 / 1859
48 / 1859
49 / 1859
50 / 1859
51 / 1859
52 / 1859
53 / 1859
54 / 1859
55 / 1859
56 / 1859
57 / 1859
58 / 1859
59 / 1859
60 / 1859
61 / 1859
62 / 1859
63 / 1859
64 / 1859
65 / 1859
66 / 1859
67 / 1859
68 / 1859
69 / 1859
70 / 1859
71 / 1859
72 / 1859
73 / 1859
74 / 1859
75 / 1859
76 / 1859
77 / 1859
78 / 1859
79 / 1859
80 / 1859
81 / 1859
82 / 1859
83 / 1859
84 / 1859
85 / 1859
86 / 1859
87 / 1859
88 / 1859
89 / 1859
90 / 1859
91 / 1859
92 / 1859
93 / 1859
94 / 1859
95 / 1859
96 / 1859
97 / 1859
98 / 1859
99 / 1859
100 / 1859
101 / 1859
102 / 1859
103 / 1859
104 / 1859
105 / 1859
106 / 1859
107 / 1859
108 / 1859
109 / 1859
110 / 1859
111 / 1859
112 / 1859
113 / 1859
114 / 1859
115 / 1859
116 / 1859
117 / 1859
118 / 1859
119 / 1859
120 / 1859
121 / 1859
122 / 1859
123 / 1859
124 / 1859
125 / 1859
126 / 1859
127 / 1859
128 / 1859
129 / 1859
130 / 1859
131 / 1859
132 / 1859
133 / 1859
134 / 1859
135 / 1859
136 / 1859
137 / 1859
138 / 1859
139 / 1859
140 / 1859
141 / 1859
142 / 1859
143 / 1859
144 / 1859
145 / 1859
146 / 1859
147 / 1859
148 / 1859
149 / 1859
150 / 1859
151 / 1859
152 / 1859
153 / 1859
154 / 1859
155 / 1859
156 / 1859
157 / 1859
158 / 1859
159 / 1859
160 / 1859
161 / 1859
162 / 1859
163 / 1859
164 / 1859
165 / 1859
166 / 1859
167 / 1859
168 / 1859
169 / 1859
170 / 1859
171 / 1859
172 / 1859
173 / 1859
174 / 1859
175 / 1859
176 / 1859
177 / 1859
178 / 1859
179 / 1859
180 / 1859
181 / 1859
182 / 1859
183 / 1859
184 / 1859
185 / 1859
186 / 1859
187 / 1859
188 / 1859
189 / 1859
190 / 1859
191 / 1859
192 / 1859
193 / 1859
194 / 1859
195 / 1859
196 / 1859
197 / 1859
198 / 1859
199 / 1859
200 / 1859
201 / 1859
202 / 1859
203 / 1859
204 / 1859
205 / 1859
206 / 1859
207 / 1859
208 / 1859
209 / 1859
210 / 1859
211 / 1859
212 / 1859
213 / 1859
214 / 1859
215 / 1859
216 / 1859
217 / 1859
218 / 1859
219 / 1859
220 / 1859
221 / 1859
222 / 1859
223 / 1859
224 / 1859
225 / 1859
226 / 1859
227 / 1859
228 / 1859
229 / 1859
230 / 1859
231 / 1859
232 / 1859
233 / 1859
234 / 1859
235 / 1859
236 / 1859