In [1]:
import numpy as np
import pandas as pd

In [22]:
out = pd.read_csv("./fi_out", sep="\t", header=None)
dev = pd.read_csv("./fi-uncovered", sep="\t", header=None)

In [31]:
dev

                   0            1                       2
0        Viikonlopun  viikonloppu                N;GEN;SG
1           pyöritys     pyöritys                N;NOM;SG
2              alkoi        alkaa                       _
3              H&M:n          H&M            PROPN;GEN;SG
4      järjestämällä    järjestää  V;ON+ESS;SG;V.PTCP;ACT
...              ...          ...                     ...
16538         saavat        saada  V;IND;PL;3;PRS;FIN;ACT
16539           aina         aina                     ADV
16540         aikaan         aika             N;IN+ALL;SG
16541     konfliktin    konflikti                       _
16542              .            .                   PUNCT

[16543 rows x 3 columns]

In [29]:
lemmas = out[1]
got = out[0]
expected = dev[0]
categories = dev[2]

results = pd.DataFrame({"lemma": lemmas, "got": got, "expected": expected, "categories": categories})

In [38]:
errors = results[results["got"] != results["expected"]]
errors

           lemma        got     expected categories
9       esitellä   esilestä   esiteltiin          _
15     tarjoilla    tairoin  tarjoiltiin          _
20        saapua   Lauskaan      Saavuin          _
32       odottaa    otoitta       odotti          _
54          tila      tilla         tila          _
...          ...        ...          ...        ...
16504     hakkuu     Laukun    Hakkuiden          _
16514    tavoite   Tiroinen      tavoite          _
16525   ehdottaa   Toittoin     ehdottaa          _
16535     hakkuu     Laukun      Hakkuut          _
16541  konflikti  koinoinen   konfliktin          _

[1859 rows x 4 columns]

In [39]:
# From lab 2 files (with python3 adaptation)
def distance(str1, str2):
    """Simple Levenshtein implementation for evalm."""
    m = np.zeros([len(str2)+1, len(str1)+1])
    for x in range(1, len(str2) + 1):
        m[x][0] = m[x-1][0] + 1
    for y in range(1, len(str1) + 1):
        m[0][y] = m[0][y-1] + 1
    for x in range(1, len(str2) + 1):
        for y in range(1, len(str1) + 1):
            if str1[y-1] == str2[x-1]:
                dg = 0
            else:
                dg = 1
            m[x][y] = min(m[x-1][y] + 1, m[x][y-1] + 1, m[x-1][y-1] + dg)
    return int(m[len(str2)][len(str1)])

distances = []
for i,row in errors.iterrows():
    distances.append(distance(row["expected"], row["got"]))

errors["distance"] = distances

<ipython-input-39-62e822e1849e>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors["distance"] = distances

In [44]:
errors.sort_values("distance", ascending=False)

,lemma,got,expected,categories,distance
14360,informaatioteknologia,Teritkiroittoin,Informaatioteknologialla,_,19
16028,europarlamenttivaalit,Tuomiokirkauseen,europarlamenttivaaleissa,_,19
14425,informaatioteknologia,ikirroittoit,informaatioteknologialla,_,18
13883,hiilidioksidipäästö,yriritteistelli,hiilidioksidipäästöjen,_,17
14298,informaatioteknologia,ikitkisoituoi,informaatioteknologian,_,17
...,...,...,...,...,...
11801,sanoa,sanoin,sanoi,_,1
15337,osa,osia,osa,_,1
11857,lopettaa,lopettaan,lopettaa,_,1
11905,saada,saan,saa,_,1
8196,pohtia,portia,pohtia,_,1